<!DOCTYPE html>
<html>
<head>
    <title>Agregar Persona</title>
</head>
<body>
    <h1>Agregar Nueva Persona</h1>
    <form action="{{ url_for('add_persona') }}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br><br>

        <label for="edad">Edad:</label>
        <input type="number" name="edad" required><br><br>

        <input type="submit" value="Guardar">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Volver a lista</a>
</body>
</html>
