.responsive{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(171, 95, 247);
  ;
}


.containermain{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
}